@model MyHomeWork.Models.AccountBookViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<div class="container">
    <h2>Add</h2>
    @using (Ajax.BeginForm(new AjaxOptions() {
        HttpMethod = "Post", Confirm = "確定要新增資料?",
        OnSuccess = "editClass.Success",
        OnFailure = "editClass.Failure"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-horizontal">
            <hr />
            <!-- 類別 -->
            <div class="form-group">
                @Html.LabelFor(model => model.Categoryyy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Raw("支出")
                    @Html.RadioButtonFor(model => model.Categoryyy, 1)
                    @Html.Raw("收入")
                    @Html.RadioButtonFor(model => model.Categoryyy, 0)
                    @Html.ValidationMessageFor(model => model.Categoryyy, "", new { @class = "text-danger" })
                </div>
            </div>            
            <!-- 金額 -->
            <div class="form-group">
                @Html.LabelFor(model => model.Amounttt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amounttt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amounttt, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- 日期 -->
            <div class="form-group">
                   <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.Dateee) </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dateee, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dateee, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- 備註 -->
            <div class="form-group">
                @Html.LabelFor(model => model.Remarkkk, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remarkkk, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarkkk, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="保存" class="btn btn-default" />
                    @Html.ActionLink("返回", "Index", new { id = Model.PageIndex }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }

    <div id="myform">
        <span class="text-danger field-validation-error" id="errorMessages"></span>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryvalAjax")
<script src="~/Scripts/FormValid.js"></script>
@section script{
    <script type="text/javascript">
        var editClass = new EditClass("@Url.Action("Index", "Home", new { id = Model.PageIndex })");
    </script>
}