@model  List<MyHomeWork.Models.AccountBookViewModel>
@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
    ViewBag.Title = "我的記帳本";
}
@section head{
    <style type="text/css">
        table,table th{
            text-align:center;
        }       
        .highlight{
            background-color:deepskyblue;
            color:#ffffff; 
        }
        DIV.black {
            PADDING-RIGHT: 3px;
            PADDING-LEFT: 3px;
            FONT-SIZE: 80%;
            PADDING-BOTTOM: 10px;
            MARGIN: 3px;
            COLOR: #a0a0a0;
            PADDING-TOP: 10px;
            BACKGROUND-COLOR: #000;
            TEXT-ALIGN: center;
        }

            DIV.black SPAN.current {
                BORDER-RIGHT: #ffffff 1px solid;
                PADDING-RIGHT: 5px;
                BORDER-TOP: #ffffff 1px solid;
                PADDING-LEFT: 5px;
                FONT-WEIGHT: bold;
                PADDING-BOTTOM: 2px;
                BORDER-LEFT: #ffffff 1px solid;
                COLOR: #ffffff;
                MARGIN-RIGHT: 3px;
                PADDING-TOP: 2px;
                BORDER-BOTTOM: #ffffff 1px solid;
                BACKGROUND-COLOR: #606060;
            }

            DIV.black SPAN.disabled {
                BORDER-RIGHT: #606060 1px solid;
                PADDING-RIGHT: 5px;
                BORDER-TOP: #606060 1px solid;
                PADDING-LEFT: 5px;
                PADDING-BOTTOM: 2px;
                BORDER-LEFT: #606060 1px solid;
                COLOR: #808080;
                MARGIN-RIGHT: 3px;
                PADDING-TOP: 2px;
                BORDER-BOTTOM: #606060 1px solid;
            }

            DIV.black A {
                BORDER-RIGHT: #909090 1px solid;
                PADDING-RIGHT: 5px;
                BACKGROUND-POSITION: 50% bottom;
                BORDER-TOP: #909090 1px solid;
                PADDING-LEFT: 5px;
                BACKGROUND-IMAGE: url(bar.gif);
                PADDING-BOTTOM: 2px;
                BORDER-LEFT: #909090 1px solid;
                MARGIN-RIGHT: 3px;
                PADDING-TOP: 2px;
                BORDER-BOTTOM: #909090 1px solid;
                TEXT-DECORATION: none;
            }

                DIV.black A:hover {
                    BORDER-RIGHT: #f0f0f0 1px solid;
                    BORDER-TOP: #f0f0f0 1px solid;
                    BACKGROUND-IMAGE: url(invbar.gif);
                    BORDER-LEFT: #f0f0f0 1px solid;
                    COLOR: #ffffff;
                    BORDER-BOTTOM: #f0f0f0 1px solid;
                    BACKGROUND-COLOR: #404040;
                }

    </style>
}
<div class="container">
    <h3 class="text-center">我的記帳本</h3>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("新增", "Add", new { id = Model[0].PageIndex }, new { @class = "btn btn-default" })
                </th>
                <th>@Html.DisplayNameFor(s => Model[0].Id)</th>
                <th>@Html.DisplayNameFor(s => Model[0].Categoryyy)</th>
                <th>@Html.DisplayNameFor(s => Model[0].Amounttt)</th>
                <th>@Html.DisplayNameFor(s => Model[0].Remarkkk)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-info" href="@Url.Action("Edit", new { id = item.Id ,pageIndex = item.PageIndex })">編輯</a>
                        @Ajax.ActionLink("刪除", "Del", "Home",
                        new
                        {
                            id = item.Id,pageIndex = Model[0].PageIndex
                        },
                       new AjaxOptions() {
                           HttpMethod = "Delete",
                           Confirm = "確定要刪除嗎?",
                           OnSuccess = "editClass.Success",
                           UpdateTargetId = "main" },new { @class = "btn btn-danger"})
                    </td>
                    <td>@item.Id</td>
                    <td>@{var str = item.Categoryyy == 1 ? "支出" : "收入";
                        switch (str)
                        {
                            case "支出":
                                @Html.Raw("<span class='text-danger field-validation-error'>"+str+"</span>")
                                break;
                            case "收入":
                                @Html.Raw("<span>" + str + "</span>")
                                break;
                        }
                    }
                    </td>
                    <td>@item.Amounttt</td>
                    <td><pre>@item.Remarkkk</pre></td>
                </tr>
            }
        </tbody>
    </table>
    <div id="myform">
        <span class="text-danger field-validation-error" id="errorMessages"></span>
    </div>
    @Html.Action("PageList", "Home", new { pageIndex = Model[0].PageIndex})
</div>
@Scripts.Render("~/bundles/jqueryvalAjax")
<script src="~/Scripts/FormValid.js"></script>
@section script{
    <script type="text/javascript">
        var editClass = new EditClass("@Url.Action("Index", "Home", new { id = Model[0].PageIndex })");
    </script>
}
